<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">

    <head>
        <meta charset="UTF-8">
        <title>AdvisorDuck - Login</title>
    </head>

    <div layout:fragment="body">

        <div class="container-fluid">
            <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
                <div class="col-12 col-md-8 col-lg-6 auth-main-col text-center p-5">
                    <div class="app-auth-body card p-4">
                        <div class="app-auth-branding mb-4">
                            <img class="logo-icon me-2" src="https://purepng.com/public/uploads/large/9150807638626jkobhiwxuwtyd6ff0jafpp1s1h3mehqxouf5zu2wsjwvbaxw8tcdn2xvttm13izrsdwfz8wkebkmaasonzforb3c8xb2qihldm.png" alt="logo" style="width: 150px;">
                        </div>
                        <h2 class="auth-heading text-center mb-5">Log into AdvisorDuck</h2>
                        <div class="auth-form-container text-start">
                            <form class="login-box" method="post" th:action="@{/authentication}">
                                <div class="email mb-3">
                                    <label class="sr-only">Email</label>
                                    <input id="email" name="email" class="form-control signin-email" placeholder="Email" required="required">
                                </div>
                                <div class="password mb-3">
                                    <label class="sr-only">Password</label>
                                    <input id="password" name="password" type="password" class="form-control signin-password" placeholder="Password" required="required">
                                </div>
                                <div>
                                    <p class="alert alert-danger text-center"
                                       th:text="${loginErrorMessage}"
                                       th:if="${loginErrorMessage != null}"></p>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-warning">Login!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</html>
